@charset "utf-8";
body,header,div,h1,nav,ul,li,main,section,h2,figure,
table,tbody,tr,td,footer,address,article{ margin: 0px; padding: 0px; }
a{ text-decoration: none; color: #151515; }
ul{ list-style: none; }
img{ display: block; }
body{ font-family: "맑은 고딕",sans-serif; font-size: 16px; }
address{ font-style: normal; }

/*레이아웃*/
#header{ width: 375px; height: 80px; margin: 0px auto; position: relative; }
#gnb{ width: 375px; height: 455px;}
#silde_banner{ width: 375px; height: 415px; margin: 0px auto;}
#product{ width: 1050px; height: 375px; margin: 0px auto;}
#event{ 
    width: 375px; height: 440px; margin: 0px auto; 
    padding-top: 45px; padding-bottom: 45px;
}
#recommend{ 
    width: 1500px; height: 435px; margin: 0px auto; 
    position: relative; margin-top: 30px;
}
#consumer_service{ width: 375px; height: 250px; margin: 0px auto;}
#footer{ width: 375px; height: 170px; margin: 0px auto;}

/*헤더*/
#header>h1{
    width: 83px; height: 56px;
    float: left; margin-top: 20px;
}
/* #header>a{
    width: 32px; height: 32px;
    float: right; margin-top: 27px;
} */

/*네비게이션*/
.toggle{
    border: 0px; background: transparent;
    width: 35px; height: 39px;
    cursor: pointer;
    position: absolute; right: 40px; top: 28px; z-index: 100;
}
.sr_only{
    width: 0px; height: 0px;
    font-size: 0px;
    line-height: 0px;
    overflow: hidden;
    position: absolute;
    left: -999px; top: -999px;
    visibility: hidden;
}
.toggle>span{
    display: block;
    width: 30px; height: 5px;
    margin: 6px 0px;
    background: #151515;
    transition: all 0.4s;
    opacity: 1;
    border-radius: 3px;
}
.toggle.on>.bar1{ transform: translate(0px, 11px) rotate(45deg); }
/*.toggle.on>.bar1{ transform:  rotate(45deg) translate(9px, 6px); }*/
.toggle.on>.bar2{ opacity: 0; }
.toggle.on>.bar3{ transform: translate(0px, -11px) rotate(-45deg); }
#gnb{
    /*width: 360vw;*/ min-height: 640px;
    position: absolute; left: 0px; /*left: -100%;*/ top: 80px; z-index: 50;
    display:none;
}
.gnb_bg{
    width: 100vw; height: 100vh;
    position: absolute; left: 0px; top: 0px; z-index: 10;
    background: rgba(0, 0, 0, 0.3);
    display: none;
}
#gnb>.menu{
    /* position: relative;  */
    width: 375px; height: 455px;
    background: #fff;
    display: none;
}
#gnb>.menu>ul>li{
    position: relative;
    float: none;
    padding-top: 30px;   
    margin-left: 20px;
}
#gnb>.menu>ul>li>a{
    display: inline-block;
    font-weight: bold;
}
#gnb>.menu>ul>li>.sub{
    display: none;
}

/* 슬라이드 배너 */
#slide_banner>.banner{
    width: 375px; height: 415px;
    position: relative; margin: 0px auto;
}
#slide_banner>.banner>div{
    width: inherit; height: inherit;
    position: absolute; top: 0;
}

/* 제품 */
#product>.product_category{
    width: 1050px; height: 375px;
    margin-top: 60px;
    background-color: #d9d9d9;
    position: relative;
}
#product>.product_category>.products{
    width: 280px; height: 235px;
    position: relative;
    border: 1px solid #fff;
    background-color: #fff;
    float: left;
    margin-left: 45px;
    margin-top: 30px;
    border-radius: 20px;
}
#product>.product_category>h2{
    width: 145px; height: 26px;
    padding-top: 25px;
    padding-left: 110px;
    text-align: center;
}
#product>.product_category>.products>.product_img{
    width: 280px; height: 235px;
    
}
#product>.product_category>.products>.product_name{
    width: 85px; height: 25px;
    position: relative; 
    /* bottom: 5px; left: 100px; */
}
#product>.product_category>.products>.product_name>h3{
    width: 85px; height: 25px;
    position: absolute;
    bottom: 20px; left: 100px;
    text-align: center;
    line-height: 25px;
}  

/* 이벤트창 */
#event>h2{
    text-align: center;
    height: 30px;
    margin-bottom: 10px;
}
#event>.event_img{
    width: 377px; height: 415px;
}

/* 추천제품 */
#recommend>.recommendation_left{
    width: 375px; height: 414px;
    float: left;
}
#recommend>.recommendation_left>.recommendation_img{
    width: 375px; height: 414px;
    position: relative;
}
#recommend>.recommendation_left>.recommendation_img>.recommend_title{
    width: 110px; height: 36px;
    position: absolute;
    padding-top: 45px; padding-left: 50px;
    color: #d9d9d9;
}
#recommend>.recommendation_right{
    width: 1050px; height: 414px;
    position: relative;
    float: left;
    background-color: #d9d9d9;
}
#recommend>.recommendation_right>.re_product{
    width: 280px; height: 235px;
    position: relative;
    border: 1px solid #fff;
    background-color: #fff;
    float: left;
    border-radius: 20px;
    margin-left: 45px;
    margin-top: 100px;
}
#recommend>.recommendation_right>.explanation{
    width: 250px; 
    position: relative;
    float: left;
    /* position: absolute;
    top: 55px; */
}
#recommend>.recommendation_right>.explanation>h3{
    position: absolute;
    top: 45px; left: 55px;
}
#recommend>.recommendation_right>.re_product>.re_product_img>.re_name1{
    width: 100px;
    position: absolute;
    top: 190px; left: 120px;
}
#recommend>.recommendation_right>.re_product>.re_product_img>.re_name2{
    width: 100px;
    position: absolute;
    top: 190px; left: 100px;
}
#recommend>.recommendation_right>.re_product>.re_product_img>.re_name3{
    width: 100px;
    position: absolute;
    top: 190px; left: 90px;
}

/* 고객서비스 */
#consumer_service>.serviceBox{
    width: 375px; height: 250px;
    background-color: #151515;
    position: relative;
}
#consumer_service>.serviceBox>.service_tiltle{
    width: 100px; height: 35px;
    position: absolute;
    margin-top: 40px;
    margin-left: 30px;
    color: #fff;
}
#consumer_service>.serviceBox>.service_icon{
    width: 400px; height: 120px;
    position: relative; z-index: 999;
}
#consumer_service>.serviceBox>.service_icon>ul>li>a{
    width: 90px; height: 120px;
    line-height: 120px;
    display: inline-block;
    float: left; 
    font-size: 12px;
    margin-top: 100px; 
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    margin-left: 5px;
    color: #fff;
}
#consumer_service>.serviceBox>.service_icon>ul>li:nth-child(1)>a{
    
    background: url("image/faq.png")no-repeat center -1px;
    /* padding-left: 50px; */
}
#consumer_service>.serviceBox>.service_icon>ul>li:nth-child(2)>a{
    background: url("image/faq.png")no-repeat center -1px;
    /* padding-left: 200px; */
}
#consumer_service>.serviceBox>.service_icon>ul>li:nth-child(3)>a{
    background: url("image/down.png")no-repeat center -1px;
    /* padding-left: 350px; */
}
#consumer_service>.serviceBox>.service_icon>ul>li:nth-child(4)>a{
    background: url("image/service.png")no-repeat center -1px;
    /* padding-left: 500px; */
}

/* 풋터 */
#footer>.footer_inner{
    width: 375px; height: 200px;
    background-color: #d9d9d9;
    padding-top: 30px;
    position: relative;
}
#footer>.footer_inner>.footer_logo{
    width: 150px; height: 45px;
    position: absolute;
    left: 100px;
}
#footer>.footer_inner>address>.footer_address1{
    font-size: 13px;
    text-align: center;
    padding-top: 60px;
    line-height: 15px;
}
#footer>.footer_inner>address>.footer_address{
    font-size: 13px;
    text-align: center;
    line-height: 10px;
}





